@charset "EUC-KR";

footer {
	width : 100%;
	height : 40px;
	background-color : rgb(76,76,76);
}

footer h3 {
	width : 100%;
	height : auto;
	color : white;
	text-align : center;
	line-height : 40px;
}